src/main/mule/wait.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="b81d9ffe-79e2-4d25-9acb-9b2e93c184da" >
		<vm:queues >
			<vm:queue queueName="work" />
		</vm:queues>
	</vm:config>
	<configuration-properties doc:name="Configuration properties" doc:id="e12bd397-8339-4106-b95b-1147b2ab6f70" file="config.yaml" />
	<flow name="workload_generator" doc:id="30d9b763-1341-466a-a98b-2c274bc08454" >
		<ee:transform doc:name="Transform Message" doc:id="65585a46-cb30-4f5d-adde-24c1532e9d29">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
import sin,cos from dw::util::Math
---
(1 to vars.total) map (1000 * abs(1 + cos(2*3.1415*($)/vars.total)) * random() ) ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<vm:publish doc:name="Publish" doc:id="6ad103ae-bc68-4d26-9e07-b0d9933785dd" config-ref="VM_Config" queueName="work" timeout="1" timeoutUnit="DAYS" />
	</flow>
	<flow name="wait_flow" doc:id="fc9b3967-b432-4581-9fbd-a06471e50426" >
		<foreach doc:name="For Each" doc:id="a2393f14-9e07-45ed-893a-cf456404c0ee">
			<logger level="INFO" doc:name="Logger" doc:id="3cbe91a8-008a-4f0a-8cb0-9b3f219b4c05" message="#[payload]" />
			<ee:transform doc:name="Set Payload with WAIT" doc:id="3a2ad5ef-18ff-4ba9-a4f9-76075d716480" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "username": "test",
  "password": "test"
} dw::Runtime::wait payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<http:request method="POST" doc:name="Request" doc:id="16ce2014-e40b-4136-a1bb-78debbbf54fc" url="http://exchange-api-proxy.us-e2.cloudhub.io/api/login">
				<http:headers ><![CDATA[#[output application/java
---
{
	"Accept" : "application/json",
	"Content-Type" : "application/json"
}]]]></http:headers>
				<http:response-validator >
					<http:success-status-code-validator values="200..499" />
				</http:response-validator>
			</http:request>
		</foreach>
	</flow>
	<flow name="scheduler" doc:id="a5940937-0266-4d5c-9017-f76a4083ea10" tracking:enable-default-events="true">
		<scheduler doc:name="Periodic Workload" doc:id="2ef96faa-052c-44c4-80be-87d8a5c7c250" >
			<scheduling-strategy >
				<fixed-frequency frequency="60" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<set-variable value="${scheduler.total}" doc:name="Set Variable" doc:id="27defacd-ec25-4568-aeb5-71bf93ee2bda" variableName="total" />
		<flow-ref doc:name="Workload Generator" doc:id="5cc78acf-978b-4646-a843-0b4321a9f549" name="workload_generator" />
	</flow>
	<flow name="wait_listener" doc:id="0f80e67b-9006-4ff9-aaf9-282b19edc3c6" >
		<vm:listener doc:name="Listener" doc:id="18a6f8e8-4a8e-4980-8ff2-def5957d0860" config-ref="VM_Config" queueName="work" timeoutUnit="DAYS" numberOfConsumers="10"/>
		<logger level="INFO" doc:name="Logger" doc:id="3a6fd13e-2b1f-4da8-933a-6c6ce9951469" message="#[payload]" />
		<flow-ref doc:name="Flow Reference" doc:id="1ae7f33f-3621-4daa-8810-4e0f67f1f621" name="wait_flow" />
	</flow>
</mule>
