src/main/mule/wait.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="b81d9ffe-79e2-4d25-9acb-9b2e93c184da" >
		<vm:queues >
			<vm:queue queueName="work" />
		</vm:queues>
	</vm:config>
	<flow name="workload_generator" doc:id="30d9b763-1341-466a-a98b-2c274bc08454" >
		<ee:transform doc:name="Transform Message" doc:id="65585a46-cb30-4f5d-adde-24c1532e9d29">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
import sin,cos from dw::util::Math
---
(1 to vars.total) map (1000 * abs(1 + cos(2*3.1415*($)/vars.total)) * random() ) ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<vm:publish doc:name="Publish" doc:id="6ad103ae-bc68-4d26-9e07-b0d9933785dd" config-ref="VM_Config" queueName="work" timeout="1" timeoutUnit="DAYS" />
	</flow>
	<flow name="wait_flow" doc:id="fc9b3967-b432-4581-9fbd-a06471e50426" >
		<foreach doc:name="For Each" doc:id="a2393f14-9e07-45ed-893a-cf456404c0ee">
			<logger level="INFO" doc:name="Logger" doc:id="3cbe91a8-008a-4f0a-8cb0-9b3f219b4c05" message="#[payload]" />
			<ee:transform doc:name="Transform Message" doc:id="41d348eb-98c9-415a-a102-9a19e65104a2">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/java

import * from dw::Runtime
---
payload wait payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		</foreach>
	</flow>
	<flow name="waitFlow" doc:id="a5940937-0266-4d5c-9017-f76a4083ea10" >
		<scheduler doc:name="Scheduler" doc:id="2ef96faa-052c-44c4-80be-87d8a5c7c250" >
			<scheduling-strategy >
				<fixed-frequency frequency="60" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<set-variable value="#[100]" doc:name="Set Variable" doc:id="27defacd-ec25-4568-aeb5-71bf93ee2bda" variableName="total" />
		<flow-ref doc:name="Workload Generator" doc:id="5cc78acf-978b-4646-a843-0b4321a9f549" name="workload_generator" />
	</flow>
	<flow name="wait_listener" doc:id="0f80e67b-9006-4ff9-aaf9-282b19edc3c6" >
		<vm:listener doc:name="Listener" doc:id="18a6f8e8-4a8e-4980-8ff2-def5957d0860" config-ref="VM_Config" queueName="work" timeoutUnit="DAYS" numberOfConsumers="10"/>
		<logger level="INFO" doc:name="Logger" doc:id="3a6fd13e-2b1f-4da8-933a-6c6ce9951469" message="#[payload]" />
		<flow-ref doc:name="Flow Reference" doc:id="1ae7f33f-3621-4daa-8810-4e0f67f1f621" name="wait_flow" />
	</flow>
</mule>
